* {
    padding: 0px;
    margin: 0px;
    background-color: transparent;
    color: whitesmoke;
    font-family: 'Righteous', cursive;
    font-weight: lighter;
}
#bg {
    height: 955px;
    width: 1900px;
}

.heading {
    margin-left: 30%;
    position: relative;
    top: 100px;
}

#t1 {
    font-size: 4rem;
    position: relative;
    left: 130px;
    display: inline;
}

.brand {
    display: flex;
    position: relative;
    top: -170px;
    left: -550px;
}

#t2 {
    font-size: 5.5rem;
    margin-left: 10px;
}

#logo {
    font-size: 100px;
}


#btn {
    height: 400px;
    width: 400px;
    margin-left: 40%;
    margin-top: 5%;
    display: none;
}

#clickme {
    font-size: 8rem;
    position: relative;
    top: 35%;
    cursor: pointer;
}

#clicktext {
    position: relative;
    left: 50px;
    top: 150px;
    font-size: 30px;
    font-family: 'Inconsolata', monospace;
    font-family: 'Phudu', cursive;
}

#logdiv {
    background-color: rgb(17, 17, 26);
    border-radius: .7em;
    height: 730px;
    width: 600px;
    margin-left: 33%;
    position: relative;
    bottom: 0px;
    opacity: 80%;
    z-index: 30;
}

.bottombar {
    position: fixed;
    bottom: 0px;
    left: 40%;
    font-size: 25px;
    font-family: 'Inconsolata', monospace;
    font-family: 'Phudu', cursive;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#ft {
    font-size: 4 0px;
}

form{
    font-size: 20px;
    font-family: 'Inconsolata', monospace;
    font-family: 'Phudu', cursive;
}

input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#login {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 70%;
    text-align: center;
}

#login:hover {
    opacity: 0.8;
}

#googlebtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
    cursor: pointer;
}
#googlebtn:hover{
    background-color: #c01f13;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}


img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }

    .cancelbtn {
        width: 100%;
    }
}

.new{
    position: relative;
    bottom: -170px;
}

#textg{
    color: black;
    position: relative;
    top: -32.5px;
    left: 6px;
}